<app-navbar></app-navbar>
<div class="main-content d-flex justify-content-start align-items-stretch">
<app-sidebar></app-sidebar>
<div class="main-heading" *ngIf="!isAtneeds && !isPreneeds">Under Construction !...</div>
  <div class="main-content" *ngIf="isAtneeds || isPreneeds">
     <div class="main-heading">{{main_title}}</div>
    <kendo-grid
    [kendoGridBinding]="gridData" 
    [pageSize]="pageSize"
    [pageable]="true"
    [skip]="skip"
    [height]="420" 
    [columnMenu]="{ filter: true }"
    (selectionChange)="gridUserSelectionChange(gridData, $event)"
    (pageChange)="pageChange($event)"
    [selectable]="true"   
    >
    <!--kendoGridSelectBy="id"-->
    <!-- Grid Cols Definition  -->
     <!-- Grid Cols Definition  -->
       <!-- Grid Cols Definition  -->
         <!-- Grid Cols Definition  -->
    <kendo-grid-column-group title="Cases" [columnMenu]="false">
        <kendo-grid-column field="atneedId" title="AN Number" [width]="100">
        </kendo-grid-column>
        <kendo-grid-column field="preneedId" title="PN Number" [width]="100">
        </kendo-grid-column>
        <kendo-grid-column field="alternateId" title="Alternate ID" [width]="100">
        </kendo-grid-column>
        <kendo-grid-column field="lastName1" title="Last Name" [width]="100">
        </kendo-grid-column>
        <kendo-grid-column field="name1" title="First Name" [width]="100">
        </kendo-grid-column>
        <kendo-grid-column field="city" title="City" [width]="100">
        </kendo-grid-column>
        <kendo-grid-column field="state" title="State" [width]="100">
        </kendo-grid-column>
        <kendo-grid-column field="entryDate" title="Entry Date" [width]="150">
        </kendo-grid-column>
        <kendo-grid-column field="deathDate" title="Death Date" [width]="150">
        </kendo-grid-column>
        <kendo-grid-column field="arStatus" title="AR Status" [width]="150">
        </kendo-grid-column>  
    </kendo-grid-column-group>
    </kendo-grid>
<div class="bottom-toolbar">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="dashboard-search">
            <button type="button" class="btn btn-primary"> Search</button>
            <!-- Display DropDown-->
            <div class="input-group input-group-sm gap-2 dis-dropdown">
                <p class="centerptag">Display:</p>
                <kendo-dropdownlist
                [data]="DisplayList"
                [(ngModel)]="selectedValue"
                (valueChange)="handleDisplayChange($event)"
            ></kendo-dropdownlist>
            </div>
        </div>
<!-- Pagination  -->

        <div class="btn-toolbar justify-content-between dropdown-btn-alignment" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-field">

                <div class="btn-space">
                    <kendo-dropdownlist
                    [data]="DisplayList"
                    [(ngModel)]="addValue"
                    (valueChange)="handleDisplayChange($event)"
                    >Add</kendo-dropdownlist>
                </div>
    
                <div class="btn-space">
                    <kendo-dropdownlist
                    [data]="DisplayList"
                    [(ngModel)]="editValue"
                    (valueChange)="handleDisplayChange($event)"
                    >Edit</kendo-dropdownlist>
                </div>
    
                <button type="button" class="btn btn-delete btn-space">Delete</button>
            </div>
            <div class="input-group input-group-sm gap-2 pagination-dropdown">
                <kendo-dropdownlist
                [data]="pagesizelist" 
                [(ngModel)]="selectedSizeValue"
                (valueChange)="handleCategoryChange($event)"
                ></kendo-dropdownlist>
            </div>
        </div>
    </div>
</div>

<!-- Summary Details Tab -->
<div class="bottom-Tabs">
    <div class="page-heading">
        <h4>Summary Details</h4>
    </div>
    <div class="main-tabs"> 
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tab-1" data-bs-toggle="tab" data-bs-target="#Case-Information" type="button" role="tab" aria-controls="Case-Information" aria-selected="true">Case Information</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-2" data-bs-toggle="tab" data-bs-target="#Case-Notes" type="button" role="tab" aria-controls="profile" aria-selected="false">Case Notes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-3" data-bs-toggle="tab" data-bs-target="#Contractees" type="button" role="tab" aria-controls="contact" aria-selected="false">Contractees</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-4" data-bs-toggle="tab" data-bs-target="#Lot-Information" type="button" role="tab" aria-controls="profile" aria-selected="false">Lot Information</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-5" data-bs-toggle="tab" data-bs-target="#Transactions" type="button" role="tab" aria-controls="contact" aria-selected="false">AR Transactions</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-6" data-bs-toggle="tab" data-bs-target="#Events" type="button" role="tab" aria-controls="profile" aria-selected="false">Events</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="Case-Information" role="tabpanel" aria-labelledby="tab-1">
                <div class="d-flex justify-content-start">
                    <div class="col-12 col-md-6 col-xs-12">
                        <div class="example-col">
                           <label [for]="textbox">First Name</label>
                           <kendo-textbox #textbox [style.width.px]="350" [(ngModel)]="firstName"></kendo-textbox> 
                       </div> 
                       <div class="example-col">
                           <label [for]="textbox">Birth Date</label>
                           <kendo-textbox #textbox [style.width.px]="350" [(ngModel)]="birthDate"></kendo-textbox> 
                       </div>
                       <div class="example-col">
                           <label [for]="textbox">Age</label>
                           <kendo-textbox #textbox [style.width.px]="350" [(ngModel)]="age"></kendo-textbox> 
                       </div>
                       <div class="example-col">
                           <label [for]="textbox">Phone</label>
                           <kendo-textbox #textbox [style.width.px]="350" [(ngModel)]="phone"></kendo-textbox> 
                       </div>
                       <div class="example-col">
                           <label [for]="textbox">Address</label>
                           <kendo-textbox #textbox [style.width.px]="350" [style.height.px]="60" [(ngModel)]="address"></kendo-textbox> 
                           <!-- <textarea _ngcontent-elw-c17="" rows="2" cols="22">                    
                           </textarea> -->
                       </div>
                   
                       <div class="col-xs-12 example-col">
                           <label [for]="textbox">Director: </label>
                           <kendo-textbox #textbox [style.width.px]="350" [(ngModel)]="director"></kendo-textbox> 
                       </div>
                   
               </div>
               <div class="col-md-6">
                   <div class="example-col">
                       <label [for]="textbox">Package </label>
                       <kendo-textbox #textbox [style.width.px]="350" [(ngModel)]="package"></kendo-textbox> 
                   </div>
                   <div class="example-col">
                       <label [for]="textbox">Disposition Location </label>
                       <kendo-textbox #textbox [style.width.px]="350" [style.height.px]="90" [(ngModel)]="dispositonLocation"></kendo-textbox> 
                   </div>
                   <div class="example-col">
                       <label [for]="textbox">Disposition Date </label>
                       <kendo-textbox #textbox [style.width.px]="350" [(ngModel)]="dispositonDate"></kendo-textbox> 
                   </div>
                   <div class="example-col">
                       <label [for]="textbox">Death Date </label>
                       <kendo-textbox #textbox [style.width.px]="350" [(ngModel)]="deathDate"></kendo-textbox> 
                   </div>
                   <div class="example-col">
                       <label [for]="textbox">Death Location </label>
                       <kendo-textbox #textbox [style.width.px]="350" [(ngModel)]="deathLocation"></kendo-textbox> 
                   </div>
               </div>
                </div>
               
                
                
            </div>
            <div class="tab-pane fade" id="Case-Notes" role="tabpanel" aria-labelledby="tab-2">
                <textarea  rows="4" cols="50">
                    {{caseNotes}}
                </textarea>
            </div>
            <div class="tab-pane fade" id="Contractees" role="tabpanel" aria-labelledby="tab-3">
                <kendo-grid 
                [kendoGridBinding]="Contractees"
                class="table-info"
                >

                <kendo-grid-column-group >
                    <kendo-grid-column field="fullname" title="Name" [width]="130">
                    </kendo-grid-column>
                    <kendo-grid-column field="phone"  title="Phone" [width]="130">
                    </kendo-grid-column>
                    <kendo-grid-column field="city" title="City" [width]="130">
                    </kendo-grid-column>
                    <kendo-grid-column field="balance" title="Balance" [width]="130">
                    </kendo-grid-column>
                  
                </kendo-grid-column-group>
            </kendo-grid>
            
        </div>
        <div class="tab-pane fade" id="Lot-Information" role="tabpanel" aria-labelledby="tab-4">
            <kendo-grid  
            [kendoGridBinding]="Lot"
            >
            <kendo-grid-column-group >
               
                <kendo-grid-column  field="graveID" title="GraveID" [width]="130">
                </kendo-grid-column>
                <kendo-grid-column  field="deed"  title="Deed" [width]="130">
                </kendo-grid-column>
                <kendo-grid-column  field="location"  title="Location" [width]="130">
                </kendo-grid-column>
                <kendo-grid-column  field="owner"  title="Owner" [width]="130">
                </kendo-grid-column>
                <kendo-grid-column  field="occupant" title="Occupant" [width]="130">
                </kendo-grid-column>
                <kendo-grid-column  field="occId" title="OccID" [width]="130">
                </kendo-grid-column>
                <kendo-grid-column  field="ownId"  title="OwnID" [width]="130">
                </kendo-grid-column>
              
            </kendo-grid-column-group>
            </kendo-grid>
            <button type="button" class="btn btn-primary btn-infomation"> Grave Info</button>
        </div>
        <div class="tab-pane fade" id="Transactions" role="tabpanel" aria-labelledby="tab-5">
            <kendo-grid  
            [kendoGridBinding]="Transactions"
            >
            <kendo-grid-column-group >
                <kendo-grid-column field="date" title="Date">
                </kendo-grid-column>
                <kendo-grid-column field="balance" title="Type">
                </kendo-grid-column>
                <kendo-grid-column field="Number" title="Number">
                </kendo-grid-column>
                <kendo-grid-column field="respParty" title="Party">
                </kendo-grid-column>
                <kendo-grid-column field="debit" title="Debit">
                </kendo-grid-column>
                <kendo-grid-column  field="credit" title="Credit">
                </kendo-grid-column>
                <kendo-grid-column field="outstanding" title="Outstanding">
                </kendo-grid-column>
                <kendo-grid-column  field="glaccount" title="GLAccount">
                </kendo-grid-column>
                <kendo-grid-column  field="description" title="Description">
                </kendo-grid-column>
              
            </kendo-grid-column-group>
        </kendo-grid>
        </div>
        <div class="tab-pane fade" id="Events" role="tabpanel" aria-labelledby="tab-6">
            <kendo-grid  
            [kendoGridBinding]="Events"
            kendoGridSelectBy="id"
            >

            <kendo-grid-column-group >
                <kendo-grid-column field="servicesID" title="ServicesID">
                </kendo-grid-column>
                <kendo-grid-column field="type" title="Type">
                </kendo-grid-column>
                <kendo-grid-column field="subject" title="Subject">
                </kendo-grid-column>
                <kendo-grid-column field="startDateTime" title="SubjectStartDate">
                </kendo-grid-column>
                <kendo-grid-column field="endDateTime" title="SubjectEndDate">
                </kendo-grid-column>
                <kendo-grid-column field="done" title="Done">
                </kendo-grid-column>
                <kendo-grid-column field="description" title="Description">
                </kendo-grid-column>
              
            </kendo-grid-column-group>
        </kendo-grid>
        </div>
    </div> 
</div>

</div>
</div>

<script>
    $(".k-grid-table tr").click(function(){
        $(".k-grid-table tr").removeClass("active");
        $(this).addClass("active");
    });
</script>