<app-navbar></app-navbar>
<div class="main-content d-flex justify-content-start align-items-stretch"></div>

 <div class="masthead">
    
    <div class="main-navigation">
        <nav class="navbar navbar-expand-lg navbar-light py-0 main-nav-bg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#"><i class="bi bi-folder2 custom-nav-icon"></i>File</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-house-door custom-nav-icon"></i>Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-gear-wide-connected custom-nav-icon"></i>Setup
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Dropdown Iteem 1</a></li>
                                <li><a class="dropdown-item" href="#">Dropdown Iteem 2</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-tools custom-nav-icon"></i>Tools
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Dropdown Iteem 1</a></li>
                                <li><a class="dropdown-item" href="#">Dropdown Iteem 2</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-file-earmark-text custom-nav-icon"></i>Forms
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Dropdown Iteem 1</a></li>
                                <li><a class="dropdown-item" href="#">Dropdown Iteem 2</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-clipboard-data custom-nav-icon"></i>Reports
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Dropdown Iteem 1</a></li>
                                <li><a class="dropdown-item" href="#">Dropdown Iteem 2</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-gear custom-nav-icon"></i>Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Dropdown Iteem 1</a></li>
                                <li><a class="dropdown-item" href="#">Dropdown Iteem 2</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-question-circle custom-nav-icon"></i>Help
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Dropdown Iteem 1</a></li>
                                <li><a class="dropdown-item" href="#">Dropdown Iteem 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="main-content d-flex justify-content-start align-items-stretch">
    <div class="custom-left-nave" style="width: 300px;">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Dashboard
                </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body px-0 py-0">
                        <div id="treeview_container" class="hummingbird-treeview">
                            <ul id="treeview" class="hummingbird-base">
                                <li data-id="0">
                                    <i class="tree-arrow-size bi bi-chevron-down"></i>
                                    <label class="parent-tree-lable"><span class=" tree-icon-size bi bi-building"></span><a href="#">USA Company</a></label>
                                    <ul class="hummingbird-base">
                                        <li data-id="1">
                                            <i class="tree-arrow-size bi bi-chevron-down"></i>
                                            <label><span class=" tree-icon-size bi bi-house"></span><a href="#">Wilson Funeral Home Inc</a></label>
                                            <ul class="hummingbird-base">
                                                <li>
                                                    <label><span class=" tree-icon-size bi bi-people"></span><a href="#">Atneeds</a></label>
                                                </li>
                                                <li>
                                                    <label><span class=" tree-icon-size bi bi-people"></span><a href="#">Preneeds</a></label>
                                                </li>
                                            </ul>
                                        </li>
                                        <li data-id="1">
                                            <i class="tree-arrow-size bi bi-chevron-down"></i>
                                            <label><span class=" tree-icon-size bi bi-house"></span><a href="#">USA Cemetery</a></label>
                                            <ul class="hummingbird-base">
                                                <li>
                                                    <label class="active-tree-label"><span class=" tree-icon-size bi bi-people"></span><a href="#">Atneeds</a></label>
                                                </li>
                                                <li>
                                                    <label><span class=" tree-icon-size bi bi-people"></span><a href="#">Preneeds</a></label>
                                                </li>
                                                <li>
                                                    <label><span class=" tree-icon-size bi bi-diagram-2"></span><a href="#">Cemetery Structure</a></label>
                                                </li>
                                                <li>
                                                    <label><span class=" tree-icon-size bi bi-journal-album"></span><a href="#">US Inventory</a></label>
                                                </li>
                                            </ul>
                                        </li>
                                        <li data-id="2">
                                            <label><span class=" tree-icon-size bi bi-house"></span><a href="#">Trade Services</a></label>
                                        </li>
                                    </ul>
                                </li>

                                <li data-id="0">
                                    <i class="tree-arrow-size bi bi-chevron-down"></i>
                                    <label class="parent-tree-lable"><span class=" tree-icon-size bi bi-building"></span><a href="#">Canada Company</a></label>
                                    <ul class="hummingbird-base">
                                        <li data-id="1">
                                            <i class="tree-arrow-size bi bi-chevron-down"></i>
                                            <label><span class=" tree-icon-size bi bi-house"></span><a href="#">Canada Cemetery</a></label>
                                            <ul class="hummingbird-base">
                                                <li>
                                                    <label><span class=" tree-icon-size bi bi-people"></span><a href="#">Atneeds</a></label>
                                                </li>
                                                <li>
                                                    <label><span class=" tree-icon-size bi bi-person-bounding-box"></span><a href="#">Grave Owners</a></label>
                                                </li>
                                                <li>
                                                    <label><span class=" tree-icon-size bi bi-diagram-2"></span><a href="#">Cemetery Structure</a></label>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li data-id="0">
                                    <i class="tree-arrow-size bi bi-chevron-down"></i>
                                    <label class="parent-tree-lable"><span class=" tree-icon-size bi bi-building"></span><a href="#">Latin Company</a></label>
                                    <ul class="hummingbird-base">
                                        <li data-id="1">
                                            <i class="tree-arrow-size bi bi-chevron-down"></i>
                                            <label><span class=" tree-icon-size bi bi-house"></span><a href="#">Latin Funeral Home </a></label>
                                            <ul class="hummingbird-base">
                                                <li>
                                                    <label><span class=" tree-icon-size bi bi-people"></span><a href="#">Atneeds</a></label>
                                                </li>
                                                <li>
                                                    <label><span class=" tree-icon-size bi bi-person-bounding-box"></span><a href="#">Grave Owners</a></label>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <label class="parent-tree-lable single-tree-node"><span class=" tree-icon-size bi bi-journal-album"></span><a href="#">Inventory</a></label>
                                </li>

                                <li>
                                    <label class="parent-tree-lable single-tree-node"><span class=" tree-icon-size bi bi-unlock"></span><a href="#">Accounts Receivable</a></label>
                                </li>

                                <li>
                                    <label class="parent-tree-lable single-tree-node"><span class=" tree-icon-size bi bi-list-task"></span><a href="#">My Pending Tasks</a></label>
                                </li>


                            </ul>
                        </div>



                        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
                        <script src="./js/hummingbird-treeview.js"></script>
                        <script>
                            $("#treeview").hummingbird();
                            $("#checkAll").click(function() {
                                $("#treeview").hummingbird("checkAll");
                            });
                            $("#uncheckAll").click(function() {
                                $("#treeview").hummingbird("uncheckAll");
                            });
                            $("#collapseAll").click(function() {
                                $("#treeview").hummingbird("collapseAll");
                            });
                            $("#checkNode").click(function() {
                                $("#treeview").hummingbird("checkNode", {
                                    attr: "id",
                                    name: "node-0-2-2",
                                    expandParents: false
                                });
                            });
                        </script>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Buttons
                </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        Respective navigation items will come here.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        Dashboard
                </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        Respective navigation items will come here.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="left-nav-show-hide"><i class="bi bi-list"></i> Left Navigation</div>
    <script>
        $(document).ready(function() {
            $(".left-nav-show-hide").click(function() {
                $(".custom-left-nave").toggle();
            });
        });
    </script>
    <div class="table-content flex-grow-1">
        <div class="custom-Breadcrumb">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Explorer</a></li>
                    <li class="breadcrumb-item"><a href="#">USA Company</a></li>
                    <li class="breadcrumb-item"><a href="#">USA Cemetery</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Atneeds</li>
                </ol>
            </nav>
        </div>
        <div class="page-heading">
            <h4>Atneeds</h4>
        </div>
        <div class="main-table">
            <table class="table table-striped" style="min-width: 1280px; max-width:100%">
                <thead>
                    <tr>
                        <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                        <th>AN Number</th>
                        <th>PN Number</th>
                        <th>Alternate ID</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Entry Date</th>
                        <th>Death Date</th>
                        <th>AR Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                        <td>2005000032</td>
                        <td>121213</td>
                        <td>121213</td>
                        <td>Richards</td>
                        <td>Sarah</td>
                        <td>Los Angeles</td>
                        <td>CA</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>Debit Balance</td>
                    </tr>
                    <tr>
                        <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                        <td>2005000032</td>
                        <td>121213</td>
                        <td>121213</td>
                        <td>Richards</td>
                        <td>Sarah</td>
                        <td>Los Angeles</td>
                        <td>CA</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>Debit Balance</td>
                    </tr>
                    <tr>
                        <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                        <td>2005000032</td>
                        <td>121213</td>
                        <td>121213</td>
                        <td>Richards</td>
                        <td>Sarah</td>
                        <td>Los Angeles</td>
                        <td>CA</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>Debit Balance</td>
                    </tr>
                    <tr class="active">
                        <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked></th>
                        <td>2005000032</td>
                        <td>121213</td>
                        <td>121213</td>
                        <td>Richards</td>
                        <td>Sarah</td>
                        <td>Los Angeles</td>
                        <td>CA</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>Debit Balance</td>
                    </tr>
                    <tr>
                        <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                        <td>2005000032</td>
                        <td>121213</td>
                        <td>121213</td>
                        <td>Richards</td>
                        <td>Sarah</td>
                        <td>Los Angeles</td>
                        <td>CA</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>Debit Balance</td>
                    </tr>
                    <tr>
                        <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                        <td>2005000032</td>
                        <td>121213</td>
                        <td>121213</td>
                        <td>Richards</td>
                        <td>Sarah</td>
                        <td>Los Angeles</td>
                        <td>CA</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>Debit Balance</td>
                    </tr>
                    <tr>
                        <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                        <td>2005000032</td>
                        <td>121213</td>
                        <td>121213</td>
                        <td>Richards</td>
                        <td>Sarah</td>
                        <td>Los Angeles</td>
                        <td>CA</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>Debit Balance</td>
                    </tr>
                    <tr>
                        <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                        <td>2005000032</td>
                        <td>121213</td>
                        <td>121213</td>
                        <td>Richards</td>
                        <td>Sarah</td>
                        <td>Los Angeles</td>
                        <td>CA</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>Debit Balance</td>
                    </tr>
                    <tr>
                        <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                        <td>2005000032</td>
                        <td>121213</td>
                        <td>121213</td>
                        <td>Richards</td>
                        <td>Sarah</td>
                        <td>Los Angeles</td>
                        <td>CA</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>Debit Balance</td>
                    </tr>
                    <tr>
                        <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                        <td>2005000032</td>
                        <td>121213</td>
                        <td>121213</td>
                        <td>Richards</td>
                        <td>Sarah</td>
                        <td>Los Angeles</td>
                        <td>CA</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>Debit Balance</td>
                    </tr>
                    <tr>
                        <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                        <td>2005000032</td>
                        <td>121213</td>
                        <td>121213</td>
                        <td>Richards</td>
                        <td>Sarah</td>
                        <td>Los Angeles</td>
                        <td>CA</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>Debit Balance</td>
                    </tr>
                    <tr>
                        <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                        <td>2005000032</td>
                        <td>121213</td>
                        <td>121213</td>
                        <td>Richards</td>
                        <td>Sarah</td>
                        <td>Los Angeles</td>
                        <td>CA</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>Debit Balance</td>
                    </tr>
                    <tr>
                        <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                        <td>2005000032</td>
                        <td>121213</td>
                        <td>121213</td>
                        <td>Richards</td>
                        <td>Sarah</td>
                        <td>Los Angeles</td>
                        <td>CA</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>Debit Balance</td>
                    </tr>
                    <tr>
                        <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                        <td>2005000032</td>
                        <td>121213</td>
                        <td>121213</td>
                        <td>Richards</td>
                        <td>Sarah</td>
                        <td>Los Angeles</td>
                        <td>CA</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>Debit Balance</td>
                    </tr>
                    <tr>
                        <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                        <td>2005000032</td>
                        <td>121213</td>
                        <td>121213</td>
                        <td>Richards</td>
                        <td>Sarah</td>
                        <td>Los Angeles</td>
                        <td>CA</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>1/9/2022 5:30 PM</td>
                        <td>Debit Balance</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bottom-toolbar">
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First group">
                    <button type="button" class="btn btn-outline-secondary btn-sm"><i class="bi bi-plus-lg tree-icon-size"></i>Add</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm"><i class="bi bi-pencil tree-icon-size"></i>Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash tree-icon-size"></i>Delete</button>
                </div>
                <div class="input-group input-group-sm gap-2">
                    <select class="form-select height-sm" aria-label="Default select example">
                        <option selected>All Atneeds</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <div class="input-group d-flex justify-content-between input-group-sm height-sm">
                        <input type=" text " class="form-control " placeholder="Search by table content" aria-label="Search by table content " aria-describedby="basic-addon2 ">
                        <span class="input-group-text " id="basic-addon2 "><i class="bi bi-search"></i></span>
                    </div>
                    <div class="input-group input-group-sm">
                        <button type="button" class="btn btn-primary">Advanced Search</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="bottom-Tabs">
            <div class="page-heading">
                <h4>Summary Details</h4>
            </div>
            <div class="main-tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="tab-1" data-bs-toggle="tab" data-bs-target="#Case-Information" type="button" role="tab" aria-controls="Case-Information" aria-selected="true">Case Information</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab-2" data-bs-toggle="tab" data-bs-target="#Case-Notes" type="button" role="tab" aria-controls="profile" aria-selected="false">Case Notes</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab-3" data-bs-toggle="tab" data-bs-target="#Contractees" type="button" role="tab" aria-controls="contact" aria-selected="false">Contractees</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab-4" data-bs-toggle="tab" data-bs-target="#Lot-Information" type="button" role="tab" aria-controls="profile" aria-selected="false">Lot Information</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab-5" data-bs-toggle="tab" data-bs-target="#Transactions" type="button" role="tab" aria-controls="contact" aria-selected="false">AR Transactions</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab-6" data-bs-toggle="tab" data-bs-target="#Events" type="button" role="tab" aria-controls="profile" aria-selected="false">Events</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Case-Information" role="tabpanel" aria-labelledby="tab-1">
                        <div class="d-flex justify-content-start">
                            <div class="w-50">
                                <div class="read-form-items">
                                    <div class="read-form-label">Full Name</div>
                                    <div class="read-form-value">Robert Wolsey</div>
                                </div>
                            </div>
                            <div class="w-50">
                                <div class="read-form-items">
                                    <div class="read-form-label">Address</div>
                                    <div class="read-form-value">Lorem Ipsum is simply dummy text of the printing.</div>
                                </div>
                            </div>
                            <div class="w-50">
                                <div class="read-form-items">
                                    <div class="read-form-label">Director</div>
                                    <div class="read-form-value">Mrs. Debra Stephenson</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div class="w-50 d-flex  justify-content-start gap-4">
                                <div class="read-form-items">
                                    <div class="read-form-label">Birth Date</div>
                                    <div class="read-form-value">1/9/2000 5:30 PM</div>
                                </div>
                                <div class="read-form-items">
                                    <div class="read-form-label">Age</div>
                                    <div class="read-form-value">22 Years</div>
                                </div>
                            </div>
                            <div class="w-50">
                                <div class="read-form-items">
                                    <div class="read-form-label">Death Date</div>
                                    <div class="read-form-value">1/9/2022 5:30 PM</div>
                                </div>
                            </div>
                            <div class="w-50">
                                <div class="read-form-items">
                                    <div class="read-form-label">Package</div>
                                    <div class="read-form-value">No Package</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div class="w-50">
                                <div class="read-form-items">
                                    <div class="read-form-label">Phone</div>
                                    <div class="read-form-value">+1-202-555-0163</div>
                                </div>
                            </div>
                            <div class="w-50">
                                <div class="read-form-items">
                                    <div class="read-form-label">Death Location</div>
                                    <div class="read-form-value">Philsdelphia</div>
                                </div>
                            </div>
                            <div class="w-50">
                                <div class="read-form-items">
                                    <div class="read-form-label">Disposition Date</div>
                                    <div class="read-form-value">1/9/2022 5:30 PM</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div class="w-50">
                                <div class="read-form-items">
                                    <div class="read-form-label">Disposition Location</div>
                                    <div class="read-form-value">Philsdelphia</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Case-Notes" role="tabpanel" aria-labelledby="tab-2">...</div>
                    <div class="tab-pane fade" id="Contractees" role="tabpanel" aria-labelledby="tab-3">...</div>
                    <div class="tab-pane fade" id="Lot-Information" role="tabpanel" aria-labelledby="tab-4">...</div>
                    <div class="tab-pane fade" id="Transactions" role="tabpanel" aria-labelledby="tab-5">...</div>
                    <div class="tab-pane fade" id="Events" role="tabpanel" aria-labelledby="tab-6">...</div>
                </div>
            </div>
        </div>


    </div>
</div>
 
