@media (max-width: 1200px) {
    .login-wraper {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .login-form {
        width: 85%;
    }
}

@media (max-width: 986px) {
    .main-navigation .container-fluid {
        justify-content: end;
    }
    .header-right {
        position: absolute;
        right: 110px;
        top: 45px;
        z-index: 99;
    }
    .header-icons a {
        color: #fff;
    }
    .navbar-light .navbar-nav .nav-link {
        color: rgb(255 255 255);
    }
    .loggedin-user {
        align-items: center;
    }
    .loggedin-user .navbar-nav {
        margin-bottom: 0px !important;
    }
    .main-tabs .d-flex.justify-content-start {
        flex-direction: column;
    }
    .left-nav-show-hide {
        display: block;
        padding: 4px 8px;
        position: relative;
        z-index: 99;
        cursor: pointer;
        margin: 0;
    }
    .custom-left-nave {
        position: fixed;
        width: 50% !important;
        margin-top: 39px;
        display: none;
        z-index: 999;
        top: 0;
        left: -50%;
        height: 100vh;
        overflow: auto;
        margin-top: 0 !important;
        margin-left: 0;
        background: #fff;
        transition: all 0.3s ease;
    }
    .custom-left-nave.show{
        left: 0% !important;
    }
    .table-content {
        padding-top: 32px;
    }
    .mob-close{
        display: flex;
        justify-content: flex-end;
        padding: 15px;
    }
    .mob-close a{
        width: 20px;
        height: 20px;
        font-size: 20px;
        display: inline-block;
    }
    .main-content.d-flex{
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .login-form .hstack {
        flex-flow: column-reverse;
    }
    .full-width {
        width: 100% !important;
    }
    .hide-content {
        display: none;
    }
 
}